<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- start basic args -->
	<arg name="veh" default="$(env VEHICLE_NAME)" />
	<arg name="config" default="baseline" />
	<arg name="param_file_name" default="default" />
	<arg name="apriltags_param_file_name" default="$(arg param_file_name)" />
	<arg name="local" default="false"/>	
	<!-- end basic args -->

<!-- general convention on remappings is that we remap the "subscribers" -->

	<!-- start switch args -->
	<arg name="camera" default="true"/>
	<arg name="/camera/raw" default="true"/>
	<arg name="/camera/cam_info" default="true"/>
	<arg name="/camera/raw/rect" default="true"/>
	<arg name="apriltags" default="true"/>
	<arg name="following" default="true"/>
	<!-- end switch args -->

	<!-- Start Camera -->  
	<!-- End Camera -->

	<!-- ============================ PART 1 ============================== -->

	<!-- Start April Tags -->
	<group if="$(arg apriltags)">
		<!-- AprilTags Detections -->
		<remap from="image_rect" to="camera_node/image/rect" />
		<remap from="compressed" to="camera_node/image/compressed" />
		<remap from="camera_node/image/camera_info" to="camera_node/raw_camera_info" />
		<include file="$(find apriltags_ros)/launch/apriltag_detector_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="local" value="$(arg local)"/>
			<arg name="config" value="$(arg config)"/>
			<arg name="param_file_name" value="$(arg param_file_name)"/>
		</include>
		<!-- open detect_apriltags_node -->
		<remap from="detect_apriltags_node/tag_info" to="tag_detections" />
		<include file="$(find csp_demo_apriltags)/launch/detect_apriltags_node.launch">
			<arg name="veh" value="$(arg veh)"/>
			<arg name="local" value="$(arg local)"/>
			<arg name="config" value="$(arg config)"/>
		</include>
	</group>
	<!--End Apriltags -->

</launch>
